@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 15px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}
.header{
    max-width: 700px;
    margin-top: 60px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.header h1:nth-child(1){
    font-weight: 400;
    font-size: 2.34rem;
    color: #4c4e61;
}
.header h1:nth-child(2){
    font-weight:bold;
    font-size: 2.35rem;
    margin-top: -10px;
    color: hsl(234, 12%, 34%);
}
.header p{
   padding: 0 90px;
   opacity: 80%;
   color:hsl(229, 6%, 66%) ;
   font-size: 16px;
}
.container .header{
    text-align: center;
}
.card-container{
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    margin-top: 30px;

}
.supervisor,
.karma{
    grid-row: span 2;
    align-self: center;
}
.card{
    max-width: 320px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
}
.img{
    max-width: 20%;
    min-width: 20%;
    align-self: flex-end;
    padding-top: 10px;
    padding-left: 5px;
}
.supervisor{
    border-top: 6px solid  hsl(180, 62%, 55%);
    border-bottom: 0.3px solid black;
    border-left: 0.3px solid black;
    border-right: 0.3px solid black;
    border-radius: 10px;
}
.team{
    border-top: 6px solid  hsl(0, 78%, 62%);
    border-bottom: 0.3px solid black;
    border-left: 0.3px solid black;
    border-right: 0.3px solid black;
    border-radius: 10px;
}
.karma{
    border-top: 6px solid  hsl(34, 97%, 64%);
    border-bottom: 0.3px solid black;
    border-left: 0.3px solid black;
    border-right: 0.3px solid black;
    border-radius: 10px;    
}
.calculator{
    border-top: 6px solid  hsl(212, 86%, 64%);
    border-bottom: 0.3px solid black;
    border-left: 0.3px solid black;
    border-right: 0.3px solid black;
    border-radius: 10px;    
}

/* Footer */
.footer{
    margin-top: 40px;
    width: 100%;
    color: rgb(63, 77, 59);
    background: white;
    text-align: center;
}
.footer span{
    color: red;
}
/* Media Query */

@media (max-width:600px) {
    .card-container{
        display: grid;
        grid-template-columns:1fr;
        gap: 20px;
        margin-top: 30px;
        /* justify-content: center;
        align-items: center; */
    }
    .card{
        max-width: 390px;
    }
    .supervisor,
    .team,
    .karma,
    .calculator{
        /* grid-column:1; */
        align-self: center;
        justify-self:center ;

    }
}